alias ls="ls -Gh"
alias ql="qlmanage -p"
alias g="git"
alias reload="source ~/.profile"
alias pomodoro="utimer -t 25s && say 'beep boop, times up'"

function ps_time() {
  pid=$(pgrep -i "$1")
  ps -p "$pid" -o etime=
}

alias ps_time=ps_time
