# Alias for bare Git repo in $HOME for dotfiles 
# TODO: how to get this to complete both git commands and filepath?
config() {
  git --git-dir=$HOME/.cfg/ --work-tree=$HOME "$@"
}
# alias config="git --git-dir=$HOME/.cfg/ --work-tree=$HOME"
alias cfg="config"

alias ls="ls -Gh"
alias ql="qlmanage -p"
alias g="git"
alias reload="exec zsh"
alias vim="nvim"
alias pomodoro="utimer -t 25s && say 'beep boop, times up'"

function ps_time() {
  pid=$(pgrep -i "$1")
  ps -p "$pid" -o etime=
}
alias ps_time="ps_time"

# vi:filetype=sh
